* {
     margin: 0;
     padding: 0;
     outline: none;
}

body {
     width: 100%;
     min-height: 100vh;
     overflow-x: hidden;
     background-color: #16232E;

     display: flex;
     flex-direction: column;
     justify-content: space-between;

     text-align: center;
}

h1 {
     color: #fff;
     font-size: 80px;
     margin-top: 50px;
     text-shadow: 5px 5px 5px #63C3D1;
     cursor: default;
}

blockquote {
     background-color: #63C3D1;
     color: #fff;
     width: 300px;
     padding: 20px;
     border-radius: 10px;
     margin: 40px auto;
     font-size: 28px;
     font-style: italic;
     cursor: default;
}

main {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-bottom: 80px;
}

article {
     width: 200px;
     padding: 20px;
     border: 5px solid #63C3D1;
     border-radius: 20px;
     text-align: center;
     background-color: white;
     box-shadow: 10px 10px 10px 5px #000;
     cursor: pointer;

     transition: all .3s;
}

article:hover {
     transform: scale(1.2);
     box-shadow: 10px 10px 10px 5px #7EA0B7;
}

article h2 {
     margin-bottom: 20px;
}

article figure {
     width: 100%;
}

article figure img {
     height: 150px;
}